@model List<Parqueos>
@{
    ViewData["Title"] = "Parqueo";
    
}

@section Scripts {
    <script src="~/js/parqueos.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
}

<script type="text/javascript">
    $(document).ready(function () {
        parqueos.Init({
            addParqueo: '@Url.Action("addParqueo", "Parqueo")',
            editParqueo: '@Url.Action("editParqueo", "Parqueo")',
            deleteParqueo: '@Url.Action("removeParqueo", "Parqueo")',
            searchParqueo: '@Url.Action("searchParqueo", "Parqueo")',
            mostrarParqueo: '@Url.Action("mostrarTodos", "Parqueo")'
        });
    });
</script>


    <div class="container border border-secondary rounded mt-3 px-5">

        <div class="container">
            <div class="text-center">
                <h1 class="display-4 font-weight-bold">Parqueos</h1>
            </div>
        </div>

        <div class="container mb-3">

            <div class="row mb-2">

                <div class="col-3">
                    <div class="form-group">
                        <label for="cboFiltrosBusquedaParqueos">Filtros Busqueda</label>
                        <select class="form-select" aria-label="Disabled select example" id="cboFiltrosBusquedaParqueos">
                          <option value="0" selected>Seleccione</option>
                          <option value="1">Nombre</option>
                          <option value="2">Cantididad Vehiculos</option>
                          <option value="3">Tarifa</option>
                        </select>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label for="txtValorBusquedaParqueos">Descripcion</label>
                        <input type="text" class="form-control" id="txtValorBusquedaParqueos">
                    </div>
                </div>

                <div class="col-1 mt-4">
                    <button id="btnBuscarParqueos" class="btn btn-success">Buscar</button>
                </div>

                <div class="col-2 mt-4">
                    <button id="btnMostrarTodosParqueos" class="btn btn-info">Mostrar Todos</button>
                </div>

                <div class="col-2 mt-4 ml-5">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalParqueo">Crear Parqueo</button>
                </div>

            </div>

        </div>

        <div>
            <table id="tableParqueo" class="table table-striped" style="width:100%">
                <thead class="table-success">
                    <tr>
                        <th width="4%">Id</th>
                        <th width="10%">Nombre</th>
                        <th width="10%">Cantidad Vehiculos</th>
                        <th width="13%">Hora Apertura</th>
                        <th width="13%">Hora Cierre</th>
                        <th width="13%">Tarifa Hora</th>
                        <th width="13%">Tarida Media Hora</th>
                        <th width="50%">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablebodyTiquetes">
                    @{
                        foreach( Parqueos parqueo in @Model ){
                            <tr>
                                <td>@parqueo.idParqueo</td>
                                <td>@parqueo.Nombre</td>
                                <td>@parqueo.CantidadMaximaVehiculos</td>
                                <td>@parqueo.HoraApertura</td>
                                <td>@parqueo.HoraCierre</td>
                                <td>@parqueo.TarifaHora</td>
                                <td>@parqueo.TarifaMediaHora</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-info btnEdit"
                                                data-id="@parqueo.idParqueo"
                                                data-nombre="@parqueo.Nombre"
                                                data-cantidadMaximaVehiculos="@parqueo.CantidadMaximaVehiculos"
                                                data-horaApertura="@parqueo.HoraApertura"
                                                data-horaCierre="@parqueo.HoraCierre"
                                                data-tarifaHora="@parqueo.TarifaHora"
                                                data-tarifaMediaHora="@parqueo.TarifaMediaHora"
                                                data-bs-toggle="modal" 
                                                data-bs-target="#modalParqueo"
                                            >
                                                Ver y Editar
                                            </button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-danger btnDelete" 
                                                data-id="@parqueo.idParqueo"
                                                data-nombre="@parqueo.Nombre"
                                            >
                                                Eliminar
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                       
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>


    </div>

    <!-- Modal -->
    <div class="modal mt-5" id="modalParqueo">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                      <div class="text-center">
                          <h4 class="modal-title" id="lblTitleModal" >Agregar Parqueo</h4>
                      </div>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                      
                         <div class="container mb-3">

                            <div class="row mb-2">

                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="txtNombreParqueos">Nombre</label>
                                        <input type="text" class="form-control" id="txtNombreParqueos">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtCantidadParqueos">Cantidad Maxima Vehiculos</label>
                                        <input type="number" class="form-control" id="txtCantidadParqueos">
                                    </div>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtHoraAperturaParqueos">Hora Apertura</label>
                                        <input type="time" class="form-control" id="txtHoraAperturaParqueos">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtHoraCierreParqueos">Hora Cierre</label>
                                        <input type="time" class="form-control" id="txtHoraCierreParqueos">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtTarifaHoraParqueos">Tarifa por Hora</label>
                                        <input type="number" class="form-control" id="txtTarifaHoraParqueos">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtTarifaMediaHoraParqueos">Tarifa por Media Hora</label>
                                        <input type="number" class="form-control" id="txtTarifaMediaHoraParqueos">
                                    </div>
                                </div>

                            </div>

                        </div>

                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                        <button id="btnAgregarParqueo" class="btn btn-primary">Crear Parqueo</button>
                        <button id="btnCloseModal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                  </div>

            </div>
        </div>
    </div>