@model ViewTiquetes
@{
    ViewData["Title"] = "Reversa";
    
}

@section Scripts {
    <script src="~/js/tiquetes.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
}

<script type="text/javascript">
    $(document).ready(function () {
        tiquetes.Init({
            addTiquete: '@Url.Action("addTiquete", "Reserva")',
            editTiquete: '@Url.Action("editTiquete", "Reserva")',
            deleteTiquete: '@Url.Action("removeTiquete", "Reserva")',
            searchTiquete: '@Url.Action("searchTiquete", "Reserva")',
            mostrarTiquete: '@Url.Action("mostrarTodos", "Reserva")',
            getAllParqueos: '@Url.Action("getAllParqueos", "Reserva")',
            getAllEmpleados: '@Url.Action("getAllEmpleados", "Reserva")',
            tarifaHora: @Model.TarifaHora,
            tarifaMediaHora: @Model.TarifaMediaHora,
            cantidadParqueos: @Model.cantidadParqueo
        });
    });
</script>

    <div class="container border border-secondary rounded mt-3 px-5">

        <div class="container">
            <div class="text-center">
                <h1 class="display-4 font-weight-bold">Reservas</h1>
            </div>
        </div>

        <div class="container mb-3">

            <div class="row mb-2">

                <div class="col-2">
                    <div class="form-group">
                        <label for="cboFiltrosBusquedaTiquetes">Filtros Busqueda</label>
                        <select class="form-select" aria-label="Disabled select example" id="cboFiltrosBusquedaTiquetes">
                          <option value="0" selected>Seleccione</option>
                          <option value="1">Placa</option>
                          <option value="2">Numero</option>
                          <option value="3">Parqueo</option>
                          <option value="4">Empleado</option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label for="txtValorBusquedaTiquetes">Descripcion</label>
                        <input type="text" class="form-control" id="txtValorBusquedaTiquetes">
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label for="txtValorBusquedaTiquetes">Descripcion</label>
                        <select class="form-select" aria-label="Disabled select example" id="cboValorBusquedaTiquetes">
                            <option value="0" selected>Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="col-1 mt-4">
                    <button id="btnBuscarTiquetes" class="btn btn-success">Buscar</button>
                </div>

                <div class="col-2 mt-4">
                    <button id="btnMostrarTodosTiquetes" class="btn btn-info">Mostrar Todos</button>
                </div>

                <div class="col-2 mt-4 ml-5">
                    <button type="button" class="btn btn-primary" id="btnShowModal" data-bs-toggle="modal" data-bs-target="#modalTiquete">Reservar</button>
                </div>

            </div>

        </div>

        <div>
            <table id="tableTiquetes" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th width="4%">Id</th>
                        <th width="13%">Fecha y Hora Entrada</th>
                        <th width="13%">Fecha y Hora Salida</th>
                        <th width="13%">Placa</th>
                        <th width="13%">Empleado</th>
                        <th width="13%">Parqueo</th>
                        <th width="40%">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablebodyTiquetes">
                    @{
                        foreach( Tiquetes tiquetes in @Model.tiquetes ){
                            <tr>
                                <td>@tiquetes.idTiquete</td>
                                <td>@tiquetes.fechaIngreso</td>
                                <td>@tiquetes.fechaSalida</td>
                                <td>@tiquetes.placa</td>
                                <td>@tiquetes.nombreEmpleado</td>
                                <td>@tiquetes.nombreParqueo</td>
                                <td>
                                    <div class="row">
                                        @if(tiquetes.montoPagar == 0)
                                        {
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-info btnEdit"
                                                    data-id="@tiquetes.idTiquete"
                                                    data-fechaIngreso="@tiquetes.fechaIngreso"
                                                    data-placa="@tiquetes.placa"
                                                    data-idEmpleado="@tiquetes.idEmpleado"
                                                    data-idParqueo="@tiquetes.idParqueo"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#modalTiquete"
                                                >
                                                    Cobrar
                                                </button>
                                            </div>

                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-danger btnDelete" data-id="@tiquetes.idTiquete">Cancelar</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-info btnVer"
                                                    data-id="@tiquetes.idTiquete"
                                                    data-fechaIngreso="@tiquetes.fechaIngreso"
                                                    data-placa="@tiquetes.placa"
                                                    data-fechaSalida="@tiquetes.fechaSalida"
                                                    data-montoPagar="@tiquetes.montoPagar"
                                                    data-tiempoConsumido="@tiquetes.tiempoConsumido"
                                                    data-idEmpleado="@tiquetes.idEmpleado"
                                                    data-idParqueo="@tiquetes.idParqueo"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#modalTiquete"
                                                >
                                                    Ver
                                                </button>
                                            </div>
                                        }
                                       
                                    </div>
                                </td>
                                   
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal mt-5" id="modalTiquete">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                      <div class="text-center">
                          <h4 class="modal-title" id="lblTitleModal" >Crear Reserva</h4>
                      </div>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                      
                         <div class="container mb-3">

                            <div class="row mb-2">

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtFechaIngresoTiquetes">Hora Ingreso</label>
                                        <input type="time" data-date-format="DD MMMM YYYY" class="form-control" id="txtFechaIngresoTiquetes">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtPlacaTiquetes">Parqueo</label>
                                        <select class="form-control" id="cboParqueoTiquetes">
                                            <option value="0" selected>Seleccione</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtPlacaTiquetes">Empleado</label>
                                        <select class="form-control" id="cboEmpleadoTiquetes">
                                            <option value="0" selected>Seleccione</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtPlacaTiquetes">Número Placa</label>
                                        <input type="text" class="form-control" id="txtPlacaTiquetes">
                                    </div>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="txtFechaSalidaTiquetes">Hora Salida</label>
                                        <input type="time" class="form-control" id="txtFechaSalidaTiquetes">
                                    </div>
                                </div>

                                <div class="col-3">
                                   <div class="form-group">
                                        <label for="txtTiempoConsumidoTiquetes">Tiempo Consumido</label>
                                        <input type="text" class="form-control" id="txtTiempoConsumidoTiquetes">
                                    </div>
                                </div>

                                <div class="col-3">
                                   <div class="form-group">
                                        <label for="txtMontoPagarTiquetes">Monto Pagar</label>
                                        <input type="text" class="form-control" id="txtMontoPagarTiquetes">
                                    </div>
                                </div>

                            </div>

                        </div>

                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                        <button id="btnAgregarTiquete" class="btn btn-primary">Reservar</button>
                        <button id="btnCloseModal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                  </div>

            </div>
        </div>
    </div>