@model List<Tiquetes>
@{
    ViewData["Title"] = "Reversa";
    
}

@section Scripts {
    <script src="~/js/tiquetes.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
}

<script type="text/javascript">
    $(document).ready(function () {
        tiquetes.Init({
            addTiquete: '@Url.Action("addTiquete", "Reserva")',
            editTiquete: '@Url.Action("editTiquete", "Reserva")',
            deleteTiquete: '@Url.Action("removeTiquete", "Reserva")',
            searchTiquete: '@Url.Action("searchTiquete", "Reserva")',
            mostrarTiquete: '@Url.Action("mostrarTodos", "Reserva")',
        });
    });
</script>

    <div>
        <h1 class="display-4">Reservas</h1>
    </div>

    <div>

        <div class="form-group">
            <label for="txtFechaIngresoTiquetes">Fecha Ingreso</label>
            <input type="datetime-local" class="form-control" id="txtFechaIngresoTiquetes">
        </div>

        <div class="form-group">
            <label for="txtFechaSalidaTiquetes">Fecha Salida</label>
            <input type="datetime-local" class="form-control" id="txtFechaSalidaTiquetes">
        </div>

        <div class="form-group">
            <label for="txtPlacaTiquetes">Número Placa</label>
            <input type="text" class="form-control" id="txtPlacaTiquetes">
        </div>

        <div class="form-group">
            <label for="txtTarifaHoraTiquetes">Tarifa por Hora</label>
            <input type="number" class="form-control" id="txtTarifaHoraTiquetes">
        </div>

        <div class="form-group">
            <label for="txtTarifaMediaHoraTiquetes">Tarifa por Media Hora</label>
            <input type="number" class="form-control" id="txtTarifaMediaHoraTiquetes">
        </div>

        <button id="btnAgregarTiquete" class="btn btn-primary">Crear Tiquete</button>

    </div>

    <div>

        <div class="form-group">
            <label for="txtValorBusqueda">Busqueda</label>
            <input type="text" class="form-control" id="txtValorBusqueda">
        </div>

        <button id="btnBuscarTiquete" class="btn btn-primary">Buscar Tiquete</button>
        <button id="btnMostrarTiquete" class="btn btn-primary">Mostrar Todos</button>

    </div>

    <div>
        <table id="tableTiquetes" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th width="4%">Id</th>
                    <th width="13%">Fecha Entrada</th>
                    <th width="13%">Fecha Salida</th>
                    <th width="13%">Placa</th>
                    <th width="13%">Tarifa Hora</th>
                    <th width="15%">Tarida Media Hora</th>
                    <th width="35%">Acciones</th>
                </tr>
            </thead>
            <tbody id="tablebodyTiquetes">
                @{
                    foreach( Tiquetes tiquetes in @Model ){
                                <tr>
                                    <td>@tiquetes.idTiquete</td>
                                    <td>@tiquetes.fechaIngreso</td>
                                    <td>@tiquetes.fechaSalida</td>
                                    <td>@tiquetes.placa</td>
                                    <td>@tiquetes.tarifaHora</td>
                                    <td>@tiquetes.tarifaMediaHora</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-info btnEdit"
                                                    data-id="@tiquetes.idTiquete"
                                                    data-fechaIngreso="@tiquetes.fechaIngreso"
                                                    data-fechaSalida="@tiquetes.fechaSalida"
                                                    data-placa="@tiquetes.placa"
                                                    data-tarifaHora="@tiquetes.tarifaHora"
                                                    data-tarifaMediaHora="@tiquetes.tarifaMediaHora"
                                                >
                                                    Editar
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-danger btnDelete" data-id="@tiquetes.idTiquete">Eliminar</button>
                                            </div>
                                        </div>
                                    </td>
                                   
                                </tr>
                    }
                }
            </tbody>
        </table>
    </div>